# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# IDE
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store

# Logs
*.log

# Coverage
htmlcov/
.coverage
.coverage.*
.pytest_cache/

# ML models - à adapter selon les livrables
*.pkl
*.joblib

# Data files - à adapter selon les livrables
*.csv
*.xlsx
*.parquet
